<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.CustomerMapper">
        <resultMap id="customerMap" type="Customer">
            <id column="id" property="id"></id>
            <result column="CUSTOMER_NAME" property="customerName"></result>
            <result column="CUSTOMER_PASSWORD" property="customerPassword"></result>
            <result column="CUSTOMER_EMAIL" property="customerEmail"></result>
            <result column="CUSTOMER_PHONE" property="customerPhone"></result>
            <result column="CUSTOMER_MONEY" property="customerMoney"></result>
            <result column="CUSTOMER_IS_NORMAL" property="customerIsNormal"></result>
            <result column="CUSTOMER_CREATE_TIME" property="customerCreateTime"></result>
            <result column="CUSTOMER_MODIFIED_TIME" property="customerModifiedTime"></result>
            <collection property="orderLists" ofType="OrderList" column="{id=id}" select="com.iotek.dao.OrderListMapper.findOrderListByCId"></collection>
        </resultMap>
        <sql id="createId">
            SELECT SCBIOSUN.SHOPPING_SEQ.nextval FROM dual
        </sql>
        <select id="findCustomerByName" parameterType="Customer" resultMap="customerMap">
            SELECT * FROM  customer WHERE  CUSTOMER_NAME=#{customerName} AND
            CUSTOMER_PASSWORD=#{customerPassword}
        </select>
        <insert id="addCustomer" parameterType="Customer">
            <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
                  <include refid="createId"></include>
            </selectKey>
            INSERT INTO CUSTOMER
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id !=null">
                    ID,
                </if>
                <if test="customerName !=null">
                    CUSTOMER_NAME,
                </if>
                <if test="customerPassword !=null">
                    CUSTOMER_PASSWORD,
                </if>
                <if test="customerEmail !=null">
                    CUSTOMER_EMAIL,
                </if>
                <if test="customerPhone !=null">
                    CUSTOMER_PHONE,
                </if>
                <if test="customerModifiedTime !=null">
                    CUSTOMER_MODIFIED_TIME
                </if>
            </trim>
            <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                <if test="id !=null">
                    #{id},
                </if>
                <if test="customerName !=null">
                    #{customerName},
                </if>
                <if test="customerPassword !=null">
                    #{customerPassword},
                </if>
                <if test="customerEmail !=null">
                    #{customerEmail},
                </if>
                <if test="customerPhone !=null">
                    #{customerPhone},
                </if>
                <if test="customerModifiedTime !=null">
                    #{customerModifiedTime}
                </if>
            </trim>
        </insert>
        <select id="queryAllCustomer" resultMap="customerMap">
            SELECT * FROM CUSTOMER
        </select>
        <update id="updateCustomerName" parameterType="Customer">
            UPDATE CUSTOMER
             <set>
                 <if test="customerName !=null">CUSTOMER_NAME=#{customerName}</if>
                 <if test="customerPassword !=null">CUSTOMER_PASSWORD=#{customerPassword}</if>
                 <if test="customerEmail !=null">CUSTOMER_EMAIL=#{customerEmail}</if>
                 <if test="customerPhone !=null">CUSTOMER_PHONE=#{customerPhone}</if>
                 <if test="customerMoney !=null">CUSTOMER_MONEY=#{customerMoney}</if>
                 <if test="customerIsNormal !=null">CUSTOMER_IS_NORMAL=#{customerIsNormal}</if>
                 <if test="customerCreateTime !=null">CUSTOMER_CREATE_TIME=#{customerCreateTime}</if>
                 <if test="customerModifiedTime !=null">CUSTOMER_MODIFIED_TIME=#{customerModifiedTime}</if>
             </set>
            <include refid="checkId"></include>
        </update>
    <sql id="checkId">
        <where>
            <choose>
                <when test="id !=null">
                    AND id=#{id}
                </when>
                <otherwise>
                    AND 1=2
                </otherwise>
            </choose>
        </where>
    </sql>
    <sql id="queryCustomer">
        SELECT * FROM CUSTOMER
    </sql>
        <delete id="deleteCustomer" parameterType="Customer">
           UPDATE  CUSTOMER SET CUSTOMER_IS_NORMAL=0 WHERE ID=#{id}
        </delete>
        <select id="findCustomerByIdAndName" resultMap="customerMap">
            <include refid="queryCustomer"></include>
             WHERE ID=#{1} AND CUSTOMER_NAME=#{0}
        </select>
    <select id="findCustomerById" parameterType="Customer" resultMap="customerMap" >
        <include refid="queryCustomer"></include>
        WHERE ID=#{id}
    </select>
    <select id="findCustomerName" parameterType="String" resultMap="customerMap">
        <include refid="queryCustomer"></include>
        WHERE customer_name=#{value}
    </select>
    <select id="findCustomerEmail" parameterType="String" resultMap="customerMap">
        <include refid="queryCustomer"></include>
        WHERE customer_email=#{value}
    </select>
    <select id="findCustomerPhone" parameterType="String" resultMap="customerMap">
        <include refid="queryCustomer"></include>
        WHERE customer_phone=#{value}
    </select>
</mapper>
