<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.ProductShelfMapper">
    <resultMap id="productShelfMap" type="ProductShelf">
        <id column="pf_id" property="id"></id>
        <result column="product_id" property="productId"></result>
        <result column="product_shelf_state" property="productShelfState"></result>
        <result column="shelf_create_time" property="shelfCreateTime"></result>
        <result column="shelf_modified_time" property="shelfModifiedTime"></result>
    </resultMap>
    <select id="queryProductShelfByPId" parameterType="ProductShelf" resultMap="productShelfMap">
        SELECT * FROM SCBIOSUN.PRODUCT_SHELF WHERE PRODUCT_ID=#{productId}
    </select>
    <select id="queryAllProduct" resultMap="productShelfMap">
        SELECT * FROM PRODUCT_SHELF
    </select>
</mapper>