<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.ProductMapper">
    <resultMap id="productMap" type="Product">
        <id column="id" property="id"></id>
        <result column="product_name" property="productName"></result>
        <result column="product_type" property="productType"></result>
        <result column="product_price" property="productPrice"></result>
        <result column="product_is_deleted" property="productIsDeleted"></result>
        <result column="product_create_time" property="productCreateTime"></result>
        <result column="product_modified_time" property="productModifiedTime"></result>
        <association property="productDetail" column="{productId=id}" select="com.iotek.dao.ProductDetailMapper.queryProductDetailByPId"></association>
        <association property="productShelf" column="{productId=id}" select="com.iotek.dao.ProductShelfMapper.queryProductShelfByPId"></association>
        <association property="productStock" column="{productId=id}" select="com.iotek.dao.ProductStockMapper.queryProductStockByPId"></association>
    </resultMap>
    <select id="queryAllProduct" resultMap="productMap">
        SELECT * FROM PRODUCT
    </select>
    <select id="queryProductByName" parameterType="product" resultMap="productMap">
        SELECT  * FROM PRODUCT WHERE PRODUCT_NAME LIKE  '%${productName}%'
    </select>
    <update id="updateProductName" parameterType="Product">
        UPDATE SCBIOSUN.PRODUCT SET PRODUCT_NAME=#{productName},PRODUCT_MODIFIED_TIME=#{productModifiedTime} WHERE ID=#{id}
    </update>
    <insert id="addProduct" parameterType="Product" >
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
            SELECT GOODS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO PRODUCT(ID, PRODUCT_NAME, PRODUCT_TYPE,PRODUCT_PRICE)
        VALUES (#{id},#{productName},#{productType},#{productPrice})
    </insert>
    <delete id="deleteProduct" parameterType="Product">
        UPDATE PRODUCT SET PRODUCT_IS_DELETED=1 WHERE ID=#{id}
    </delete>
    <select id="queryProductById" parameterType="int" resultMap="productMap">
        SELECT  * FROM PRODUCT WHERE ID=#{value}
    </select>
</mapper>